{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

        {% block page_product_detail_buy_quantity_container %}
            {% block page_product_detail_buy_quantity %}
                <div class="product-detail-quantity-input input-group"
                     data-quantity-field="true">
                    <span>Quantity</span>
                    <div class="input-group-prepend">
                        <button class="btn decrease" type="button">-</button>
                        <input type="number" class="form-control"
                               name="lineItems[{{ product.id }}][quantity]"
                               title="Quantity"
                               value="{{ page.product.minPurchase }}"
                               style="-moz-appearance: textfield"/>
                        <button class="btn increase" type="button">+</button>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}

        {% block page_product_detail_buy_button_container %}
            {% block page_product_detail_buy_button %}
                <button class="btn btn-primary btn-buy"
                        title="{{ "detail.addProduct"|trans|striptags }}"
                        aria-label="{{ "detail.addProduct"|trans|striptags }}">
                    {{ "detail.addProduct"|trans|sw_sanitize }}
                </button>
            {% endblock %}
        {% endblock %}

